body {
    background-color: #767676; 
    color: #D6D6CE; 
}

h1, h2, h3 {
    color: #800000; 
    font-weight: bolder; }


.m1 h3,
.m2 h3,
.extra h3 {
    margin-bottom: 20px;
}

a {
    color: rgb(36, 25, 200); 
}

a:hover {
    text-decoration: underline;
}
