body {
    background-color:#767676; /* Light gray background */
    font-family: Arial, sans-serif; /* Font family */
  }
  
  h1 {
    color:  #800000; 
  }
  
  p {
    color:#D6D6CE; /* Dark gray color for paragraphs */
    line-height: 1.5; /* Line height for better readability */
  }
  
  .content_paragraph {
    margin-bottom: 20px; /* Add some space between paragraphs */
  }
  