body {
    background-color:#767676; 
    font-family: Arial, sans-serif; 
  }
  
  h1 {
    color:  #800000; 
  }
  
  p {
    color:#D6D6CE; 
    line-height: 1.5; 
  }
  
  .content_paragraph {
    margin-bottom: 20px; 
  }
  