/* Define UChicago colors */
:root {
    --uchicago-blue: #3C3B6E;
    --uchicago-maroon: #6A0D24;
    --uchicago-beige: #F7E9CB;
    --uchicago-gray: #A7A8AA;
}
  
/* Table styles */

body {
    background-color:#767676; /* Light gray background */}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--uchicago-maroon);
}

th, td {
    padding: 8px;
    border: 1px solid var(--uchicago-gray);
}

th {
    background-color: var(--uchicago-blue);
    color: rgb(9, 8, 8);
    text-align: left;
}

th[scope="row"] {
    background-color: var(--uchicago-maroon);
}

th[scope="row"], td {
    color: rgb(251, 249, 249);
}
