
$uchicago-maroon:#800000;
$uchicago-blue: #3C3B6E;
$uchicago-beige: #F7E9CB;
$uchicago-gray: #A7A8AA;


body {
    background-color: $uchicago-gray;
  }
  
  h1 {
    color: $uchicago-maroon;
  }
  
  