body {
    background-color:black;
    color: greenyellow; /* bright green font color */
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.console {
    background-color: #000;
    border: 2px solid #0f0; /* bright green border */
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-top: 0;
}
